{% extends 'base.html' %}
{% load static %}

{% block title %}My orders{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/shop/my_orders.css' %}">

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div>
  {% if orders %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td class="align-middle">
                {% for order_item in order.order_items %}
                    {{ order_item.book }}: {{ order_item.quantity }} <br>
                {% endfor %}
            </td>
            <td class="align-middle">
              {% if order.status == 'in_work' %}
                <span class="text-warning">{{ order.get_status_display }}</span>
              {% elif order.status == 'success' %}
                <span class="text-success">{{ order.get_status_display }}</span>
              {% elif order.status == 'fail' %}
                <span class="text-danger">{{ order.get_status_display }}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2 class="text-center mb-4">No orders</h2>
  {% endif %}
</div>

    {% if orders %}
        <div class="pagination mt-5 mx-auto">
            <ul class="pagination mx-auto">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.number > 1 %}?page=1{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.number < page_obj.paginator.num_pages %}?page={{ page_obj.paginator.num_pages }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}